<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  	<script src="/jquery/dist/jquery.min.js" type="text/javascript"></script>
  	<script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/highcharts/highcharts.js"></script>
    
    <title>How fast can you go</title>

</head>

<body>

  <div class="containes">

    <h1>Application: <%=application%></h1>

    <h2>Releases</h2>
    <table id="releases" class="table table-striped">
      <tbody></tbody>
      <thead><tr>
        <td>Name</td>
        <td>Environment</td>
        <td>Additions</td>
        <td>Deletions</td>
        <td>Mileseconds</td>
      </tr></thead>
    </table>

    <div id="line_releases"></div>
    <div id="diff_releases"></div>

  </div>

	<script type="text/javascript">

    $.getJSON( "/api/apps/<%=application%>/releases", function( data ) {

      var minutesSeriesData = [];
      var categories = [];
      var diffGroupSeriesData = {additions:[],deletions:[]}

      for(var i=0;i<data.length;i++){
        var release = data[i];
        categories.push(release.name)
        minutesSeriesData.push(release.diff.miliseconds/1000/60/60);
        diffGroupSeriesData.additions.push(release.diff.additions);
        diffGroupSeriesData.deletions.push(release.diff.deletions);
      }

      drawTable(data);
      drawLineReleases(categories,minutesSeriesData);
      drawDiffReleases(categories,diffGroupSeriesData);


    });

    drawTable = function(releases){
      var releasesTable = $("#releases tbody");
      for( var i=0; i<releases.length; i++ ){
        var release = releases[i];

        var releaseHTML = "<tr><td>"+release.name+"</td><td>"+release.environment+"</td><td>"+release.diff.additions+"</td><td>"+release.diff.deletions+"</td><td>"+release.diff.miliseconds+"</td></tr>";

        releasesTable.append(releaseHTML)
      }
    }

    drawDiffReleases = function(categories,diffGroupSeriesData){

      Highcharts.chart('diff_releases', {
          chart: {
              type: 'area'
          },
          title: {
              text: 'Releases Size'
          },
          xAxis: {
              categories: categories,
              tickmarkPlacement: 'on',
              title: {
                  enabled: false
              }
          },
          yAxis: {
              title: {
                  text: 'Line in commits'
              },
              labels: {
                  formatter: function () {
                      return this.value;
                  }
              }
          },
          tooltip: {
              split: true,
              valueSuffix: ' lines'
          },
          plotOptions: {
              area: {
                  stacking: 'normal',
                  lineColor: '#666666',
                  lineWidth: 1,
                  marker: {
                      lineWidth: 1,
                      lineColor: '#666666'
                  }
              }
          },
          series: [
            {name: "Additions", data: diffGroupSeriesData.additions},
            {name: "Deletions", data: diffGroupSeriesData.deletions}
          ]
      });


    }

    drawLineReleases = function(categories,seriesData){
      var configuration = {
        title: {
            text: 'Production Odyssey'
        },
        xAxis: {
            title: {
                text: 'Time elapsed(minutes)'
            },
            categories: categories
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [
          {
            name:"Releases",
            data:seriesData
          }
        ]
      };

      Highcharts.chart('line_releases', configuration);
    }



	</script>

  </body>
</html>